.row-article-page {
    display: flex;
    justify-content: space-between;
}

.article-page-nav {
    width: 270px;
    flex-shrink: 0;
    flex-grow: 0;
}

.article-page-article {
    width: 770px;
    font-size: 20px;
    color: #31405B;

    flex-shrink: 0;
    flex-grow: 0;
}

.article-page-article a {
    color: #138ECE;
}

.article-page-nav-title {
    margin-bottom: 34px;

    font-size: 28px;
    font-weight: 700;
    color: #31405B;  
}

.article-page-nav-list {
    font-size: 20px;
    border-top: 1px solid #D6D9D8;
}

.article-page-nav-list li {
    border-bottom: 1px solid #D6D9D8;
}

.article-page-nav-list a {
    display: block; 
    padding-top: 14px;
    padding-bottom: 14px;
    color: #138ECE;
    text-decoration: none;
}

br {
    display: none;
}

.article-page-nav-list a.active {
    font-weight: 700;
    color: #E04E4E;
}

.article-page-nav-list a:hover {
    text-decoration: underline;
}


.article-page-article h1, 
.article-page-article h2,
.article-page-article h3,
.article-page-article h4,
.article-page-article h5,
.article-page-article h6 {
    margin-bottom: 15px;
    font-weight: 700;

    line-height: 1.2;
}

.article-page-article h1 {
    margin-top: -6px;
    margin-bottom: 40px;

    font-size: 54px;
}

.article-page-article h2 {
    font-size: 32px;
} 

.article-page-article h3 {
    font-size: 26px;
}

.article-page-article h4 {
    font-size: 22px;
}

.article-page-article h5 {
    font-size: 20px;
}

.article-page-article h6 {
    font-size: 18px;
}

.article-page-article p {
    line-height: 1.6;
}

.article-page-article p:not(:last-child) {
    margin-bottom: 15px;
}

.article-page-article img {
    margin-top: 40px;
    margin-bottom: 40px;
}