.checkbox-row {
    display: flex;

    align-items: flex-start;
    margin-bottom: 20px;
}

.checkbox-row:last-child {
    margin-bottom: 0;
}

.real-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: inline-block;

    flex-shrink: 0;
    vertical-align: bottom;

    margin-right: 10px;
    width: 20px;
    height: 20px;

    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
}

.real-checkbox:focus + .custom-checkbox {
    border: 1px solid #2AB698;
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
}

.custom-checkbox::before {
    content: "";

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 17px;
    height: 17px;
    background-image: url("./../img/icons/check.svg");

    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}