.footer {
    margin-top: auto;
    padding-top: 71px;
    padding-bottom: 94px;

    background-color: #265847;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    width: 270px;
}

.footer-logo {
    margin-bottom: 26px;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.footer-widgets-wrapper {
    display: flex;
    column-gap: 30px;
    padding-top: 10px;
}

.footer-widget {
    font-size: 18px;
}

.footer-widget p {
    margin-bottom: 15px;
}

.footer-widget p:last-child {
    margin-bottom: 0;
}

.footer-widget-info {
    width: 170px;
}

.footer-widget-services, 
.footer-widget-contacts {
    width: 270px;
}

.footer-widget-title {
    margin-bottom: 30px;
    
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.footer-widget-list li {
    margin-bottom: 15px;
}

.footer-widget-list li:last-child {
    margin-bottom: 0;
}